<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Surf Buddy</title>
  <link rel="stylesheet" href="">
</head>
<body>

  <div id="breaksContainer">
    <div class="savedBreak">
      <h3>Break Info</h3>
      <p>Location: <%= report.request[0].query %></p>
      <p>Weather: <%= report.weather[0].hourly[0].weatherDesc[0].value %></p>
      <p>High Temp: <%= report.weather[0].maxtempF %> *F</p>
      <p>Low Temp: <%= report.weather[0].mintempF %> *F</p>
      <p>Wave Height: <%= report.weather[0].hourly[0].swellHeight_ft %> Feet</p>
      <p>Swell Direction: <%= report.weather[0].hourly[0].swellDir %> Degrees</p>
      <p>Swell Period: <%= report.weather[0].hourly[0].swellPeriod_secs %> Seconds</p>
      <p>Water Temp: <%= report.weather[0].hourly[0].waterTemp_F %> *F</p>
        <form action="/surf/breaks" method="POST">
          <input type="hidden" name="" value="break[location]" value="<%= report.request[0].query %>">
          <input type="hidden" name="" value="break[weather]" value="<%= report.weather[0].hourly[0].weatherDesc[0].value %>">
          <input type="hidden" name="" value="break[waterTempF]" value="<%= report.weather[0].hourly[0].waterTemp_F %>">
          <input type="submit" value="Save Break">
        </form>
    </div>  
  </div>

  

  <a href="/users/profile">Home</a>
</body>
</html> 
